@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    /* colors */
    --color-primary: hsl(192, 37%, 48%);
    --color-secondary: hsl(268, 34%, 53%);

    --primary-active: hsl(192, 90%, 77%);
    --secondary-active: hsl(268, 100%, 86%);

    --slate-300: hsl(240, 18%, 85%);
    --slate-600: hsl(240, 10%, 57%);
    --slate-900: hsl(240, 21%, 20%);
    --white: hsl(0, 0%, 98%);

    /* spacing */

    --spacing-50: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.55rem;
    --spacing-1000: 5rem;
    --spacing-1400: 7rem;

    /*  */
    --border: 1px solid black;

}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    width: 100%;

}

body {

    /* display: flex;
    flex-direction: column; */
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;


}

/* header, */
/* .hero-content, */
.features-section {
    /* border: var(--border); */
}


header {
    padding: var(--spacing-1000);
    padding-bottom: 0;

}

header img {
    margin-inline: auto;
}


img {
    display: block;

}

img {
    /* display: block; */
}

.hero-content {
    display: flex;
    justify-content: space-evenly;
    gap: var(--spacing-400);
    height: fit-content;
    padding: var(--spacing-900) 0;
}



.hero-content img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-right: auto;

}

.image-right {
    margin-left: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    gap: var(--spacing-200);
    padding-inline: var(--spacing-200);

}

.hero-text>* {
    max-width: 450px;
}

h1,
h2,
.sub-heading {
    line-height: 110%;
    font-weight: 900;
}

p {
    line-height: 150%;
    letter-spacing: 0;
    /* font-weight: 500; */

}

h1 {
    font-size: 4rem;

}

.hero-text p,
.desc-body {
    color: var(--slate-600);
    font-size: 1rem;

}

button {
    padding: var(--spacing-200) var(--spacing-500);
    border-radius: 29px;
    font-size: 1rem;
    /* background-color: blueviolet; */
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    line-height: 150%;
    min-width: fit-content;
    font-family: inherit;
    font-weight: 900;
    /* align-self: flex-start; */

}

.btn-primary:hover {
    background-color: hsl(192, 54%, 64%);
}

.btn-secondary:hover {
    background-color: hsl(268, 55%, 71%);
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-200)
}

.btn-primary {
    background-color: var(--color-primary);
}

.btn-primary span {
    color: var(--primary-active);

}

.btn-secondary span {
    color: var(--secondary-active);

}

.btn-secondary {
    background-color: var(--color-secondary);
}

/* features */
.features-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.section-indicator {
    margin-inline: auto;
}

.section-indicator>* {

    margin-inline: auto;
}


.indicator-line {
    width: 1px;
    height: var(--spacing-1000);
    border: 1px solid var(--slate-300);
}

.indicator-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--slate-300);
    border-radius: 50%;
    list-style: 150%;
    width: var(--spacing-700);
    height: var(--spacing-700);
    color: var(--slate-600);

}

.feature-images {
    padding-block: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-300);
    justify-content: center;

}

.feature-images img {
    width: 256px;
    min-width: 150px;
    max-width: 100%;
    border-radius: 0.5rem;

}

.feature-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;
    margin-bottom: 5rem;

    /* border: 1px solid; */

}

.sub-heading {
    letter-spacing: var(--spacing-100);
    color: var(--color-primary);
    line-height: 110%;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
}


h2 {
    font-size: 2.5rem;
    /* line-height: 110%; */
    /* letter-spacing:0; */
}

.desc-body {
    margin-top: var(--spacing-400);
}

footer {
    /* border: var(--border); */
    display: flex;
    flex-direction: column;
    position: relative;

}

footer .section-indicator {
    margin-bottom: -1.5rem;
    position: relative;
    z-index: 5;

    .indicator-number {
        background-color: var(--white);
    }
}


.footer-content {
    position: relative;
    background-color: var(--primary-);
    flex: 1;
    padding: var(--spacing-1400) var(--spacing-1000);
    background-color: hsla(192, 37%, 48%, 0.8);
    gap: var(--spacing-400);
    /* background-color: black; */
    /* overflow: hidden; */


}

.footer-texts {
    /* border: var(--border); */
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--spacing-400);
    color: var(--white);
    /* margin-inline: auto ; */
}

.footer-texts button {
    align-self: center;

}

p {
    font-size: 1.125rem;
    max-width: 450px;
}

.footer-bg {
    position: absolute;
    inset: 0;
    z-index: -1;

}

.footer-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media (max-width:1023px) {

    .image-right {
        display: none;
    }

    .hero-content {
        flex-direction: column;
        gap: 4rem;
        padding-inline: 0;
    }

    .footer-texts {
        flex-direction: column;
        text-align: center;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }
}